* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.home {
  background-color: #e1f3f7;
  min-height: 100vh;
  padding: 24px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.form-fields {
  background-color: #fff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.input-type {
  padding: 12px;
}

.label {
  font-size: large;
  font-weight: 600;
}

.required {
  padding: 2px 12px;
  margin-left: 8px;
  display: flex;
  gap: 8px;
}

.required input {
  width: 18px;
}

.req-label {
  background: #e1f3f7;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 4px;
  text-transform: capitalize;
}

.create-btn {
  margin-left: 18px;
  margin-top: 10px;
  padding: 6px 12px;
  min-width: 108px;
  /* border-radius: 4px; */
  border: none;
  color: #fff;
  background-color: #000;
  letter-spacing: 2px;
}

.option-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 8px;
  padding: 4px 8px;
}
.text-input {
  padding: 12px 8px;
  outline: none;
  width: 85%;
}
.option-btn {
  width: 15%;
  background-color: #000;
  color: #fff;
  border: none;
}
.list-box p {
  background: #7dd6c1;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 4px;
  color: #000;
}

.form-section {
  display: flex;
  flex: 1;
  background-color: #fff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.export-btn {
  margin-top: 10px;
  padding: 6px 12px;
  min-width: 108px;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  letter-spacing: 2px;
}

.checkbox-opt {
  background: #7dd6c1;
  width: fit-content;
  padding: 2px 8px;
  border-radius: 4px;
  margin-top: 4px;
  color: #000;
}

.checkbox-box {
  padding: 2px 12px;
  display: flex;
  gap: 8px;
}

.checkbox-box input {
  width: 18px;
}

.cross {
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}
